[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.1"
django-crispy-forms = "==1.10.0"
psycopg2-binary = "==2.8.6"
pytz = "==2020.5"
sqlparse = "==0.4.1"
django-environ = "==0.4.5"
pipenv = "==2020.11.15"
Django = "==3.1.5"
Pillow = "==8.1.0"

[dev-packages]

[requires]
python_version = "3.9"
