{% extends 'base.html' %}

{% block title %}{{ category.title }}{% endblock title %}

{% block content %}
<h1 class="title">{{ category.title }}</h1>

<div class="columns is-multiline">
    {% if category.products.all %}
    <div class="row">
        {% for product in category.products.all %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                        <img class="tableimage" src="{{ product.image.url }}" alt="{{ product.title }}">
                        <h5 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h5>
                        <p class="card-text">{{ product.description|slice:":100" }}......</p>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary">${{ product.price }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No products found.</p>
    {% endif %}
</div>
{% endblock content %}