{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}
<div class="detailproduct">
    <div class="card" style="width: 60rem;">
        <img class="tableimage2" src="{{ product.image.url }}" alt="{{ product.name }}">
            <h5 class="card-title"><a href="#">{{ product.title }}</a></h5>
            <p class="card-text">{{ product.description|linebreaksbr }} </p>
            <a href="#" class="btn btn-primary">${{ product.price }}</a>
            <button class="" type="submit" name="cart-button">Add To Cart</button>
    </div>
</div>
{% endblock content %}